################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/isoxml_dotnet/bin
/isoxml_dotnet/obj
/isoxml_dotnet_test/bin
/isoxml_dotnet_test/obj
/obj/Debug
/isoxml_dotnet_core/bin
/isoxml_dotnet_core/obj
/isoxml_dotnet_generator/bin
/isoxml_dotnet_generator/obj

/isoxml_dotnet_generator/out

/.vscode
/isoxml_dotnet_core/nuget.config
