################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/isoxml_dotnet/bin/Debug
/isoxml_dotnet/obj/Debug
/isoxml_dotnet_test/bin/Debug/netcoreapp3.1
/isoxml_dotnet_test/obj
/obj/Debug
/isoxml-dotnet-generator/bin/Debug/netcoreapp3.1
/isoxml-dotnet-generator/obj
/isoxml_dotnet_core/bin/Debug/netstandard2.0
/isoxml_dotnet_core/obj
/isoxml_dotnet_generator/bin/Debug/netcoreapp3.1
/isoxml_dotnet_generator/obj

/isoxml_dotnet_generator/out